*  {
    -webkit-overflow-scrolling: touch;
    }
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

/**
    -------------
       GENERAL
    -------------
**/
.logo {
    /* padding: 0.5rem 1rem; */
    padding-left:0;
}
.roboto-light {
    font-family: 'Roboto-light', sans-serif;
    font-size: 22px;
}

.my-navbar-button {
    padding: 0 0.75rem 0 0.75rem !important;
    font-size: 1rem;
}

.banner-heading {
    color:white;
}

#navbarNav ul {
    margin-left:5%;
}



#navbarNav ul li a:hover{
    text-decoration: underline;
    text-decoration-style: double;
}

.active {
    /*font-size:1.3rem;*/
    /*text-decoration: underline;
    text-decoration-color:white;
    text-decoration-style: double;*/
}

/**
  -------------------
       HOME PAGE
  -------------------
**/

.home-background{
    background-color:#323a45;
   /* height:100%;*/
}

.home-image-mt {
    /*margin-top:10%;*/
}

.home-image-mt h1 {
    font-family: 'Roboto-Thin', sans-serif;

    color:white;
    font-size:70px;
}
.home-image-mt p {
    font-family: 'Roboto-Light', sans-serif;
    color:#90c845;
    font-size:28px;
}
.find-out a{
    color:white;
}
.find-out {
    border:2px solid white;
    padding:2%;
}



#navbarNav li a {
    font-family: 'Roboto-Light', sans-serif;
    margin-left: 3px;
    text-align: center;
    color:white;
    font-weight: bold;
    font-size:1.2rem;
}


.services h2 {
    font-family: 'Roboto-Medium', sans-serif;
}
.services p {
    font-family: 'Roboto-Light', sans-serif;
}

.products h2 {
    font-family: 'Roboto-Medium', sans-serif;
}
.button {
    border:2px solid #f7b431;
}

.black {
    background-color: #171717;
}

.same-height {
    height:100px;
}


.nav-link{
    color:#8cc63f;
}

.fixed-row-bottom {
    position: fixed;
    bottom: 0;
}

/**
  -------------------
    MOBILE GAME PAGE
  -------------------
**/
.game-background-image {
    height: 70vh;
    background: url('../images/Games/mobile-games-intro.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

/*blackjack*/
.blackjack h4 {
    font-family: 'Roboto-Medium', sans-serif;
    color:#249277;
}
.btn-blackjack-mobile {
    background-color: #249277;
    border:2px solid #249277;
}
.btn-blackjack-mobile a {
    color:white;
    font-weight: bold;
    font-size:15px;

}
.btn-blackjack-tablet {
    border:2px solid #249277;
    font-size:15px;

}

.btn-blackjack-tablet a {
    color:black;
}
.black-jack-list ul {
    list-style-image: url('../images/Games/arrow-dark-green.png');
}
/*roulette*/
.roulette h4 {
    font-family: 'Roboto-Medium', sans-serif;
    color:#347e8b;
}
.btn-roulette-mobile {
    background-color: #347e8b;
    border:2px solid #347e8b;

}
.btn-roulette-mobile a {
    color:white;
    font-weight: bold;
    font-size:15px;

}
.btn-roulette-tablet {
    border:2px solid #347e8b;
    font-size:15px;
}

.btn-roulette-tablet a {
    color:black;
}

.roulette-list ul {
    list-style-type: none;
    list-style-image: url('../images/Games/arrow-blue.png');
}

/*fruit slot*/
.fruit-slot-list {
    list-style-image: url('../images/Games/arrow-blue.png');
}
.fruit-slot h4 {
    font-family: 'Roboto-Medium', sans-serif;
    color:#347e8b;
}
/**
  -------------------
       GAS PAGE
  -------------------
**/

.my-list ul {
    font-family: 'Roboto-light', sans-serif;
    font-size: 22px;
    list-style-type: none;
}
.my-list li {
    margin-top:10px;
}
.my-list ul li::before  {
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;

}

.gas-background-image {
    height: 70vh;
    background: url('../images/GAS/gas-intro.jpg') no-repeat;
    background-size: cover;
    background-position: center;

}

.gas-list ul{
    list-style-image: url('../images/GAS/arrow-orange.png');
}

.gas-heading h4{
    font-family: 'Roboto-Medium', sans-serif;
    color:#f7b431
}


/**
  ------------------------
    POKER NETWORK PAGE
  ------------------------
**/
.last-p {
    font-family: 'Roboto-Bold', sans-serif;
}

.form {
    background-image: url('../images/Contact/contact-form-bg-bottom.png');
}


.poker-background-image {
    height: 70vh;
    background: url('../images/Poker/poker-network-intro.jpg') no-repeat;
    background-size: cover;
    background-position: center;

}

.poker-text {
    font-family: 'Roboto-Light', sans-serif;
    font-size:22px;
}

.poker-heading h4 {
    font-family: 'Roboto-Medium', sans-serif;
    color:#1cbcb4;
}

.poker-list ul {
    list-style-image: url('../images/Poker/arrow-turquoise.png');
}
/**
  ------------------------
        CAREER PAGE
  ------------------------
**/

.work-with-us-background-image {
    height: 50vh;
    background: url('../images/Career/work-with-us-intro.jpg') no-repeat;

}

.work-with-us-list ul {
    list-style-image: url('../images/Career/arrow-light-green.png');
}


/**
  ------------------------
        ABOUT US PAGE
  ------------------------
**/

.about-us-background-image {
    height: 50vh;
    background: url('../images/About/about-us-intro.jpg') no-repeat;
}

.about-us-list ul {
    list-style-image: url('../images/About/arrow-purple.png');
}


/**
  ------------------------
        CONTACT PAGE
  ------------------------
**/

.contact-us-background-image {
    height: 40vh;
    background: url('../images/Contact/contact-intro.jpg') no-repeat;
}

.background-dark {
    background-color: #363e49;
}

.contact-form {
    padding: 5% 0% 5% 4%;
    width: 96%;
    color:white;
}

.contact-button {
    color:white;
}

/**
  ---------------------
        7 Columns
  ---------------------
**/
.seven-cols .column-7 {
    width: 14.285714285714285714285714285714%;
}

/**
  ---------------------
        8 Columns
  ---------------------
**/
.eight-cols .column-8 {
    width: 12.5%;
}

/**
  -------------------
        FOOTER
  -------------------
**/
.footer {
    background-color: #474747;
    color:#b1b1b1;
}

#back2Top {
    cursor: pointer;
    width:5em;
}

/* .footer-nav #navbarNav li span {
    font-size:18px;
    font-style: italic;
    text-transform:capitalize
} */
.footer-nav {
    font-family: 'Roboto-light', sans-serif;
}
.footer-nav .logo {
    display: none;
}

.footer-nav .my-navbar-button {
    display: none;
}
.footer-nav #navbarNav li a {

}
.footer-nav #navbarNav li span {
    display: none;
}

.footer-nav #navbarNav li a{
    color:#8cc63f;
    text-align: left;

}

.footer-list ul {

    list-style-type: none;
}
.footer-list .first {
    color:#8cc63f;
}

.footer-list ul li a {
    color:#b1b1b1;
}




/**
  ---------------------
        MEDIA QUERY
  ---------------------
**/





@media only screen and (max-width: 1300px) {
    /*#navbarNav ul {
        margin:0;
    }*/
    .banner-heading {
        margin-top: 2%;
    }
    .banner-heading > h1{
        color:white;
        font-size: 1.6rem;
    }

    .my-list ul {
        font-size: 14px;
    }

    .roboto-light {
        font-family: 'Roboto-light', sans-serif;
        font-size: 14px;
    }
    .footer-nav #navbarNav li a {
        font-size: 10px;
    }

    .home-image-mt h1 {

        font-size:40px;
    }
    .home-image-mt p {
        font-family: 'Roboto-Light', sans-serif;
        color:#90c845;
        font-size:20px;
    }

}

@media screen and (min-width: 1430px) and (max-width:1700px) {
    .game-background-image, .poker-background-image, .gas-background-image {
        height: 35em;
    }

}

@media screen and (max-width: 1450px) {
    .game-background-image, .poker-background-image, .gas-background-image {
        height: 30em;
    }
    .work-with-us-background-image, .about-us-background-image, .contact-us-background-image {
        height: 40vh;
    }
    .footer-nav #navbarNav li a {
        font-size:14px;
    }
}
@media screen and (min-width: 1700px)  {
    .game-background-image, .poker-background-image, .gas-background-image {
        /*height:55vh;*/
        /* min-height:30em; */
        height: 37em;
    }
    .footer-nav #navbarNav li a {
        font-size:16px;
    }
}
@media screen and (min-width: 1800px)  {
    .game-background-image, .poker-background-image, .gas-background-image {
        /*height:55vh;*/
        /* min-height:30em; */
        height: 40em;
    }
}
@media screen and (min-width: 1900px) {
    .home-footer{
        /*margin-top:6%;*/
    }
}


@media only screen and (max-width: 800px) {

    .game-background-image, .poker-background-image, .gas-background-image {
        height: 20em;
    }

    .my-list li {
        margin-top:4px;
    }

    .home-image-mt h1 {
        font-size: 35px;
    }

    .home-image-mt p {
        font-size: 14px;
    }

    .work-with-us-background-image, .about-us-background-image, .contact-us-background-image {
        height: 10em;
    }
    .banner-heading {
        margin-top:0 !important;
    }

    #navbarNav li a {
        font-size: 12px;
    }
    .banner-heading h1{
        font-size: 1.2rem;
    }

    .eight-cols .column-8 {
        width: 25%;
    }

}


 @media only screen and (max-width: 650px) {

    .game-background-image, .poker-background-image, .gas-background-image {
        height: 13em;
    }
    .work-with-us-background-image, .about-us-background-image, .contact-us-background-image {
        height: 6em;
    }
    .banner-heading {
        margin-top:0 !important;
    }
    .banner-heading h1{
        font-size: 0.8rem;
    }

    .eight-cols .column-8 {
        width: 25%;
    }

    .bg-dark-mobile {
        background-color: #343a40 !important;
        padding:0;
        z-index:1;
    }
    #navbarNav ul {
        margin-left:0;
    }

    #navbarNav li a {
        margin-left:0;
    }

}


/**
  ---------------------
        BORDERS
  ---------------------
**/

.b-blue {
    border:2px solid blue;
}

.b-red {
    border:2px solid red;
}

.b-green {
    border:2px solid green;
}

.b-black {
    border:2px solid black;
}

.b-pink {
    border:2px solid pink;
}

.b-yellow {
    border:2px solid yellow;
}